header, h3, h4 {
	text-align: center;
}

h3 {
	text-decoration: underline;
}

body {
	background-color: #E8E8E8;
}

.calendar, .tasks {
	height: 350px;
	overflow: scroll;
}

.appt-form, .task-form, .archived-tasks {
	display: none;
}
.new-day > ul {
	display: none;
}

.new-day > ul> li {
	display: inline-block;
}

.archive-appt, .archive-task, .restore-task {
	float: right;
	margin-right: 2px;
}

.new-task > li {
	display: inline-block;
}

.add-task, .add-appt{
	display: block;
	margin-left: auto;
	margin-right: auto;
}