header, h3, h4 {
	text-align: center;
}

.calendar-bar {
	height: 350px;
	overflow: scroll;
}

.add-button {
	float: right;
}

.appt-form {
	display: none;
}
.new-day > ul {
	display: none;
}

.new-day > ul> li {
	display: inline-block;
}