header, h3, h4 {
	text-align: center;
}

h3 {
	text-decoration: underline;
}

.calendar {
	height: 350px;
	overflow: scroll;
}

.appt-form {
	display: none;
}
.new-day > ul {
	display: none;
}

.new-day > ul> li {
	display: inline-block;
}

.delete-button {
	float: right;
	margin-right: 5px;
}